.tasktext {
  display: flex;
  flex-direction: column;
}

.tasktitle {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

.taskcontent {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.completed {
  margin-left: auto;
}